body {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../assets/9b200647243629.58890e36c43de.png);
}

.todoapp {
    position: relative;
    top: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 20px auto;
    text-align: center;
    background-color: rgba(112, 67, 112, 0.95);
    border-radius: 15px;

}

header {
    width: 50%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5em;
}

header .new-todo {
    font-size: 2em;
}
.main ul li {
    font-size: 2em;
    list-style-type: none;
    border-bottom: 1px dotted rgb(97, 211, 135);
}

.main .todo-list {
    text-align: left;
}

.view .toggle {
    width: 2em;
    height: 2em;
}

.view label {
    padding: 5px;
    margin: 0 5px;
}

.destroy {
    position: relative;
    top: 50%;
    color: rgb(97, 211, 135);
}

.main {
    width: 50%;
    margin: 0 auto;
}

footer {
    font-size: 1.5em;
}